<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#d34c3f">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Armybakesale" %></title>

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag :all %>
    <style>
      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #D34C3F;
      }
      footer a {
        color: white;
      }
      .splash-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        height: 100%;
      }
      body, html {
        height: 100%;
      }
      body {
        background-color: #FFBF51;
      }
    </style>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>    
    <%= partial "footer" %>
    <%= javascript_include_tag :all %>
  </body>
</html>