<section class="product" id="product_<%= index + 1 %>">
  <h2><span class="star">★</span><%= product.name %></h2>
  
  <div class="product-content">
    <div class="image-holder">
      
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="<%= product.front %>" alt="" width="100" height="100" border="0">
            <div class="product-button">Look inside!</div>
          </div>
          <div class="back">
            <img src="<%= product.back %>" alt="" width="100" height="100" border="0">
            <div class="product-button">So tasty!</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="product-details">
      <p><%= product.description %></p>
      <% if product.rates %>
        <table>
          <% product.rates.each do |rate| %>
            <tr>
              <% if rate.price.nil? and rate.quantity.nil? %>
                <td>&nbsp</td>
              <% elsif rate.price.nil? %>
                <th><%= rate.quantity %></th>
              <% else %>
                <td><%= rate.quantity %></td>
              <% end %>
             <td style="text-align: right;"><%= rate.price %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <h4><%= product.note_title %></h4>
      <% if product.note %>
        <% graphs = product.note.split("\n") %>
        <% graphs.each do |graf| %>
          <p><%= graf %></p>
        <% end %>
      <% end %>
    </div>
    <br clear="all">
  </div>
</section>